<style>
  :host {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 14px;
    color: #333;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
</style>
<div class="main p-2">
  <div class="container p-0">
    <header>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Profession Skills</h5>
          <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="card-link">Card link</a>
          <a href="#" class="card-link">Another link</a>
        </div>
      </div>
    </header>
    <div class="content px-3">
      <div class="row">
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                <span class="icon skills"></span>
                <span>Profession Skills</span>
              </h5>
              <div class="pl-3 mt-4">
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                <span class="icon skills"></span>
                <span>Profession Skills</span>
              </h5>
              <div class="pl-3 mt-4">
                <ul class="experience">
                  <li><div class="node grey"></div><p class="exp-title">Lorem Ipsum 1997 - 2000</p></li>
                  <li>
                    <div class="divider">
                      <div>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque possimus rem adipisci consequatur nisi illum, placeat pariatur optio alias et cum distinctio veritatis animi voluptatum ipsum eius labore temporibus atque!
                      </div>
                    </div>
                  </li>
                  <li><div class="node grey"></div><p class="exp-title">Lorem Ipsum 1997 - 2000</p></li>
                  <li>
                    <div class="divider">
                      <div>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque possimus rem adipisci consequatur nisi illum, placeat pariatur optio alias et cum distinctio veritatis animi voluptatum ipsum eius labore temporibus atque!
                      </div>
                    </div>
                  </li>
                  <li><div class="node grey"></div><p class="exp-title">Lorem Ipsum 1997 - 2000</p></li>
                  <li>
                    <div class="divider">
                      <div>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque possimus rem adipisci consequatur nisi illum, placeat pariatur optio alias et cum distinctio veritatis animi voluptatum ipsum eius labore temporibus atque!
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                <span class="icon skills"></span>
                <span>Profession Skills</span>
              </h5>
              <div class="pl-3 mt-4">
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                <span class="icon skills"></span>
                <span>Profession Skills</span>
              </h5>
              <div class="pl-3 mt-4">
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                <span class="icon skills"></span>
                <span>Profession Skills</span>
              </h5>
              <div class="pl-3 mt-4">
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">
                <span class="icon skills"></span>
                <span>Profession Skills</span>
              </h5>
              <div class="pl-3 mt-4">
                <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer></footer>
  </div>
</div>